{% extends './base.html' %}

<body>

{% block content%}
    <style>
        body {
          font-family: 'Roboto', sans-serif;
          background-color: #faaaf6;
        }
    
        .signup-container {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          margin-top: 100px;
        }
    
        .signup-container h2 {
          text-align: center;
          margin-bottom: 30px;
        }

        .signup-container label {
            text-align: center;
            
          }
    
        
    
        .signup-container form .btn-primary {
          width: 100%;
          margin-top: 10px;
          font-size: 16px;
        }
        
        .header h1{
            text-align:center;
    
            text-background:red;
            
        }


      </style>
      <div class = "header">
      <h1> Welcome to Mushroom Assistance System</h1>

      <div class="container">
        <div class="signup-container">
          <h2>Signup/Register</h2>
          <form>
            <div class="mb-3">
              <label>Log in if you already have registered!</label>
              <div><a class="btn btn-primary" href="{% url 'login_view' %}" role="button">login</a></div>
              <label>If not register here!</label>
              <div class="form-group last mb-4">
              <div><a class="btn btn-primary" href="{% url 'register' %}" role="button">register</a></div>
          </form>
        </div>
       </div>
      

      </body>

      {% endblock %}